.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg2);
}
.userdata{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.userdata form{
    background: rgb(0, 102, 128);
    padding:2rem 2rem 2rem 2rem;
    box-sizing: border-box;
    width: 500px;
    border-radius: 10px;
    box-sizing: border-box;
}
form .txt{
    position:relative;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}
.txt input{
    height:100%;
    width:100%;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    color: #ffffff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txt span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
}
.txt input:focus ~ label,
.txt input:valid ~ label{
    top: -5px;
    transform: translateY(-50%);
    color: #ffffff;
}
.txt input:focus ~ span::before,
.txt input:valid ~ span::before{
    width: 100%;
}
button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color:rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    outline:none;
}
button:hover{
    border-color: #26d947;
    transition: 0.5s;
}
.member{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}
.member a{
    color: white;
    text-decoration: none;
}
.member a:hover{
    text-decoration: underline;
}