.footer{
    display: flex;
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--color-bg2);
}
.media-container{
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 2rem;
}